<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EF504221CBE1FF000137F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EF5043B1CBE1FF000137F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EF504461CBE1FF000137F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
